In [1]:
x=(1,23,3,[89,90,'qwe'])

In [2]:
x

(1, 23, 3, [89, 90, 'qwe'])

In [3]:
x[3]

[89, 90, 'qwe']

In [4]:
x[3][1]

90

In [5]:
x[3][0]=45

In [6]:
x

(1, 23, 3, [45, 90, 'qwe'])

In [7]:
d={
    "name":"Suman",
    "marks":89,
    "age":21
    }

In [8]:
d

{'name': 'Suman', 'marks': 89, 'age': 21}

In [9]:
type(d)

dict

In [29]:
Emp={
    "Emp_name":"Suman",
    "Email":"suman@gmail.com",
    "Emp_id":(8990,89,90),
    "salary":21000
    }

In [30]:
Emp

{'Emp_name': 'Suman',
 'Email': 'suman@gmail.com',
 'Emp_id': (8990, 89, 90),
 'salary': 21000}

In [33]:
Emp["Emp_id"][1]=76

TypeError: 'tuple' object does not support item assignment

In [45]:
Emp={
    'emp1':
    {
    "Emp_name":"Suman",
    "Email":"suman@gmail.com",
    "Emp_id":(8990,89,90),
    "salary":21000
    },
    'emp2':
    {
    "Emp_name":"Shjj",
    "Email":"suman@gmail.com",
    "Emp_id":(8,9,90),
    "salary":2000,
        'family_details':{
            'name':'rita',
            'age':56,
        }
    }
    }

In [46]:
Emp

{'emp1': {'Emp_name': 'Suman',
  'Email': 'suman@gmail.com',
  'Emp_id': (8990, 89, 90),
  'salary': 21000},
 'emp2': {'Emp_name': 'Shjj',
  'Email': 'suman@gmail.com',
  'Emp_id': (8, 9, 90),
  'salary': 2000,
  'family_details': {'name': 'rita', 'age': 56}}}

In [47]:
Emp.keys()

dict_keys(['emp1', 'emp2'])

In [49]:
Emp.values()

dict_values([{'Emp_name': 'Suman', 'Email': 'suman@gmail.com', 'Emp_id': (8990, 89, 90), 'salary': 21000}, {'Emp_name': 'Shjj', 'Email': 'suman@gmail.com', 'Emp_id': (8, 9, 90), 'salary': 2000, 'family_details': {'name': 'rita', 'age': 56}}])

In [50]:
Emp.items()

dict_items([('emp1', {'Emp_name': 'Suman', 'Email': 'suman@gmail.com', 'Emp_id': (8990, 89, 90), 'salary': 21000}), ('emp2', {'Emp_name': 'Shjj', 'Email': 'suman@gmail.com', 'Emp_id': (8, 9, 90), 'salary': 2000, 'family_details': {'name': 'rita', 'age': 56}})])

In [53]:
x='yuuhk'
y=""
for i in x:
    y=y+i
    print(y)
if x==y:
    print("p")
else:
    print("np")

y
yu
yuu
yuuh
yuuhk
p

In [52]:
n[-1::-1]

NameError: name 'n' is not defined

In [54]:
s="python"
rev=""
c=len(s)
while c>0:
    rev=rev+s[c-1]
    c=c-1
    print(rev)

n
no
noh
noht
nohty
nohtyp