In [1]:
#1
class eg:
  def __init__(self,attr):
    self.attr = attr

In [2]:
class vehicle:
    pass

In [6]:
class school1:
    def student1(self,name):
        self.name=name
        print(self.name)
class school2(school1):
    def student2(self,age,cls):
        self.age=age
        self.cls=cls
s=school2()
s.student1("abc")

abc

In [13]:
#4
class g_parent:
    def __init__(self,name_father,name_mother):
        self.name_father=name_father
        self.name_mother=name_mother
class parent(g_parent):
    def __init__(self,name_father,name_mother,name,age,salary):
        super().__init__(name_father,name_mother)
        self.name=name
        self.age=age
        self.salary=salary
class child(parent):
    def __init__(self,name_father,name_mother,name,age,salary,post):
        super().__init__(name_father,name_mother,name,age,salary)
        self.name=name
        self.age=age
        self.post=post
a=child("father","mother","suman",23,90000,"sub")
a.name

'suman'

In [14]:
class Rectangle:
   def __init__(self, length, breadth):
      self.l = length
      self.b = breadth
   def perimeter(self):
      return 2*(self.l + self.b)
   def area(self):
      return self.l * self.b

class Circle:
   def __init__(self, radius):
      self.r = radius
   def perimeter(self):
      return 2 * pi * self.r
   def area(self):
      return pi * self.r ** 2

rec = Rectangle(5,3)
cr = Circle(4)
print("Perimter of rectangel: ",rec.perimeter())
print("Area of rectangel: ",rec.area())

Perimter of rectangel:  16
Area of rectangel:  15

In [17]:
## WITH THE HELP OF LAMBDA FUNCTION
#1
a=lambda a:a**2
x=int(input("enter the number--> "))
a(x)

enter the number-->7

49

In [18]:
a=lambda a,b:max(a,b)
x=int(input("enter 1st number--> "))
y=int(input("enter 2nd number--> "))
a(x,y)

enter 1st number--> 78
enter 2nd number--> 67

78

In [22]:
g=lambda a,b:min(a,b)
x=int(input("enter 1st number--> "))
y=int(input("enter 2nd number--> "))
g(x,y)

enter 1st number--> 90
enter 2nd number--> 89

89

In [21]:
u=lambda a,b,c,d,e,f:a+b*c+d/e-f
u(12,2,3,4,5,6)

12.8

In [23]:
g=lambda a,b:a if a>b else b
x=int(input("enter 1st number--> "))
y=int(input("enter 2nd number--> "))
g(x,y)

enter 1st number--> 89
enter 2nd number--> 67

89

In [29]:
g=lambda a,b:a**3+b**3
g(2,3)

35

In [1]:
l = [3, 4]
  
res = list((lambda x: x ** 3, l))
print(res)

[<function <lambda> at 0x0000029F39CB4310>, [3, 4]]

# FILTER FUNCTION

In [6]:
a= [20,89,67,56,90,99,56,45,88,78,67,55]
l=[]
for i in a:
    if i>60:
        l.append(i)
print(l)

[89, 67, 90, 99, 88, 78, 67]

In [7]:
def func(a):
    l=[]
    for i in a:
        if i>60:
            l.append(i)
    print(l)
a= [20,89,67,56,90,99,56,45,88,78,67,55]
func(a)

[89, 67, 90, 99, 88, 78, 67]

In [23]:
def func(a):
    #for i in range(0,a):
        if a>60:
            return True
        else:
            return False
a= [20,89,67,56,90,99,56,45,88,78,67,55]
x=list(filter(func,a))
print(x)

[89, 67, 90, 99, 88, 78, 67]

In [35]:
a = [ {"name": "abc", "age": "45", "marks": "67"},
      {"name": "def", "age": "34", "marks": "34"},]
def s(a, search):
    def func(x):
        for v in x.values():
            if search in v:
                return True
        return False
    return filter(func, a)
f = s(a, "45")
print(list(f))

[{'name': 'abc', 'age': '45', 'marks': '67'}]

In [26]:
x= lambda a: True if a>60 else False
print(list(filter(x,a)))

[89, 67, 90, 99, 88, 78, 67]

In [39]:
a= [20,89,67,56,90,99,56,45,88,78,67,55]
c=list(filter(lambda a:True if a>60 else False, a))
c

[89, 67, 90, 99, 88, 78, 67]

# MAP

In [41]:
z=list(map(lambda a:a**2,c))
z

[7921, 4489, 8100, 9801, 7744, 6084, 4489]

In [43]:
data= [11,12,13,14,15,16,17,18,19,20]
print(list(map(lambda v:3*v,data)))

[33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

In [46]:
#2 --->
data1= [1,2,3,4,5]
data2= [6,7,8,9,10]
data3= [11,12,13,14,15]
print(list(map(lambda d1,d2,d3:d1+d2+d3,data1,data2,data3)))

[18, 21, 24, 27, 30]

In [47]:
data= [11,12,13,14,15,16,17,18,19,20]
print(list(map(lambda v:v**2,data)))

[121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [61]:
#1--->
salary= [2000,8900,5700,5600,7000,9900]
def sal(salary):
    highest_salary=list(filter(lambda a:True if a>6000 else False,salary))
    print("Highest Salaries-->",highest_salary)
    double=list(map(lambda v:v*2,highest_salary))
    print("\nDoubling the salary",double)
sal(salary)

Highest Salaries--> [8900, 7000, 9900]

Doubling the salary [17800, 14000, 19800]

In [67]:
marks_list= [56,45,22,89,11]
fail= list(filter(lambda a:True if a<33 else False,marks_list))
print(fail)

[22, 11]